.form {
  width: 100%;
  margin: 2rem auto;
  animation-delay: 0.2s;
  font-size: 1.2rem;
}

.form label {
  width: 100%;
  margin: 1rem 0;
}

.form input {
  width: 100%;
  padding: .5rem;
  border: none;
  border-bottom: 1px solid var(--black);
}

.form input:focus-visible {
  outline: none;
}

.form span {
  padding-top: 100px;
  font-weight: 600;
}

.form textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 12rem;
  max-height: 12rem;
  padding: .5rem;
  margin-top: 0.4rem;
  border: 1px solid var(--black);
  border-radius: 10px;
}

.form textarea:focus-visible {
  outline: none;
}

.form button {
  width: 100%;
  padding: .5rem;
  background-color: var(--violet);
  border: 1px solid var(--violet);
  border-radius: 10px;
  color: var(--white);
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}

.form button:hover {
  background-color: var(--white);
  color: var(--violet);
  border: 1px solid var(--violet);

  
}