.section {
  max-width: 70rem;
  margin: auto;
}

.section div {
  display: flex;
  flex-flow: row wrap;
  gap: 1.8rem;

  width: 100%;
}

.section img { 
  fill: white;
  object-fit: contain ;
  width: 5rem;
  height: 5rem;
}
