.section {
  max-width: 70rem;
  margin: auto;
}

.section div {
  display: flex;
  flex-flow: row wrap;
  gap: 1.8rem;

  width: 100%;
}

.section img { 
  filter: grayscale(80%);
  object-fit: contain ;
  width: 5rem;
  height: 5rem;
  transition: filter 0.8s ease-in-out;
}

.section img:hover {
  filter: grayscale(0%);
}
