.section {
  max-width: 70rem;
  margin: auto;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1rem;
}

.text {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  text-wrap: pretty;
}

.text p {
  max-width: 47rem;
}

.text span {
  color: rgb(126, 45, 255);
}

.text span:hover {
  font-weight: 800;
}

.text aside {
  font-weight: 600;
  text-transform: uppercase;
}

.aside {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.aside img {
  width: 14rem;
  height: 14rem;
  border-radius: 100%;
  opacity: 90%;
}

.aside button {
  width: 50%;
  padding: 0.7rem;
  color: var(--violetLight);
  background-color: var(--violet);
  border: 1px solid var(--violet);
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.aside button:hover {
  color: var(--violet);
  background-color: var(--white);
  border: 1px solid var(--violet);
  transition: color 1.5s ease;
}