.section {
  max-width: 75rem;
  margin: auto;
}

.section h2 {
  text-align: start;
  font-size: 2.5rem;
  font-family: var(--font-secondary);
  font-weight: 600;
  text-transform: uppercase;
  margin: 4rem 0 2rem;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8rem;
}

.text {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  font-size: 1.3rem;
  line-height: 2rem;
  text-wrap: pretty;
}

.text p {
  max-width: 47rem;
}

.text aside {
  font-weight: 600;
  text-transform: uppercase;
}

.aside {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 2.5rem;
}

.aside img {
  width: 14rem;
  height: 14rem;
  border-radius: 100%;
  opacity: 90%;
}

.aside button {
  width: 50%;
  padding: 0.7rem;
  color: var(--white);
  background-color: var(--black);
  font-weight: 600;
  cursor: pointer;
}

.aside button:hover {
  color: var(--black);
  background-color: var(--white);
  transition: color 1.5s ease;
}