.section {
  position: relative;
}

.section::before { 
  content: "";
  background-image: url('/public/assets/background/white4.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.15;
  pointer-events: none;
}

.contain {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  width: 70rem;
  margin: auto;
  min-height: 90vh;
}

.section h1 {
  font-family: var(--font-secondary);
  font-size: 12rem;
  font-weight: 600;
}

.section h3 {
  
  font-family: var(--font-secondary);
  color: var(--violet);
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 6rem;

  animation: 
    scale-up both ease-in-out,
    fade-away both linear;
  animation-timeline: --scroll;
  animation-range: 
    exit 10% exit 90%,
    exit 0% exit 80%;
}

.section ul {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  padding: 1rem;
}

.section li {
  margin: 0 3rem;
}

.section a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  width: 200px;
  text-transform: uppercase;
  font-weight: 800;
  padding: 1rem 0;
  border-radius: 50px;
  cursor: pointer;
  background: var(--white);
  box-shadow:  0px 4px 5px #a4a3a3;

  transition: all .3s;
}

.section a:hover {
  border-color: var(--black);
  background-color: var(--violetDark);
  color: var(--white);
  transform: scale(1.05);
}

.arrowDownIcon {
  position: absolute;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  animation: arrowDown 1.5s infinite linear both, isVisible 3s both ease-in;
}


@keyframes scale-up {
  to {scale: 1.5;}
}

@keyframes fade-away {
  to {opacity: 0;}
}

@keyframes isVisible {
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes arrowDown {
  0% {
    
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}