.section {
  max-width: 70rem;
  margin: auto;
  text-align: left;
}

.slider {
  width: 95%;
  margin: 2rem auto 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.slider div {
  width: 100%;
}

.slider svg {
  width: 4rem;
  height: min-content;
  fill: var(--violetDark);
  transition: all 0.2s ease-out;
}

.slider svg:hover {
  fill: var(--violet);
  cursor: pointer;
  transform: scale(1.1);
}