.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  padding: 2rem 0;
}

.footer a:hover {
  color: var(--violet);
  transition: 0.5s all ease;
}
